<!DOCTYPE html>
<html lang="en">
    <head>
          <title>{{ title }}</title>
          <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


      <body>
        <div class="App">
            <header class="App-header">
                <h2 >
                    Welcome to hand classifier for Polish Sign Language
                </h2>

                <p class="small">
                    Allow camera usage and show your hands to camera
                </p>

            </header>
        </div>
    </body>
</html>